# Ficheiros de configuração com senhas
# ESTES FICHEIROS NUNCA DEVEM SER ENVIADOS PARA O REPOSITÓRIO
includes/config.php
includes/config cloud.php

# Pasta de dependências do Composer
# Esta pasta é gerada com o comando 'composer install'
/vendor/

# Ficheiros de backup ou cópias temporárias
* copy.php
* copy.php.*

# Ficheiros de log e temporários
*.log
*.tmp
*.temp

# Pastas de configuração de Editores de Código
.vscode/
.idea/
.project
.settings
